@font-face {
    font-family: 'Resist Sans Display Light Oblique';
    src: local('Resist Sans Display Light Oblique'), local('ResistSansDisplay-LightOblique'),
        url('ResistSansDisplay-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Display';
    src: local('Resist Sans Display Bold'), local('ResistSansDisplay-Bold'),
        url('ResistSansDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Display';
    src: local('Resist Sans Display Light'), local('ResistSansDisplay-Light'),
        url('ResistSansDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Display';
    src: local('Resist Sans Display Medium'), local('ResistSansDisplay-Medium'),
        url('ResistSansDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Display Bold Oblique';
    src: local('Resist Sans Display Bold Oblique'), local('ResistSansDisplay-BoldOblique'),
        url('ResistSansDisplay-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Display Medium Oblique';
    src: local('Resist Sans Display Medium Oblique'), local('ResistSansDisplay-MediumOblique'),
        url('ResistSansDisplay-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Text';
    src: local('Resist Sans Text Medium'), local('ResistSansText-Medium'),
        url('ResistSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Text Light Oblique';
    src: local('Resist Sans Text Light Oblique'), local('ResistSansText-LightOblique'),
        url('ResistSansText-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Text Medium Oblique';
    src: local('Resist Sans Text Medium Oblique'), local('ResistSansText-MediumOblique'),
        url('ResistSansText-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Display Thin Oblique';
    src: local('Resist Sans Display Thin Oblique'), local('ResistSansDisplay-ThinOblique'),
        url('ResistSansDisplay-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Display';
    src: local('Resist Sans Display Thin'), local('ResistSansDisplay-Thin'),
        url('ResistSansDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Text';
    src: local('Resist Sans Text Bold'), local('ResistSansText-Bold'),
        url('ResistSansText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Display';
    src: local('Resist Sans Display'), local('ResistSansDisplay-Regular'),
        url('ResistSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Text';
    src: local('Resist Sans Text Light'), local('ResistSansText-Light'),
        url('ResistSansText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Text Bold Oblique';
    src: local('Resist Sans Text Bold Oblique'), local('ResistSansText-BoldOblique'),
        url('ResistSansText-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Display Oblique';
    src: local('Resist Sans Display Oblique'), local('ResistSansDisplay-RegularOblique'),
        url('ResistSansDisplay-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Text Oblique';
    src: local('Resist Sans Text Oblique'), local('ResistSansText-RegularOblique'),
        url('ResistSansText-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Text';
    src: local('Resist Sans Text Thin'), local('ResistSansText-Thin'),
        url('ResistSansText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Resist Sans Text Thin Oblique';
    src: local('Resist Sans Text Thin Oblique'), local('ResistSansText-ThinOblique'),
        url('ResistSansText-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Resist Sans Text';
    src: local('Resist Sans Text'), local('ResistSansText-Regular'),
        url('ResistSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

